@model InventoryManagementV1.Models.User
@{
    Layout = "~/Views/Shared/layout.cshtml";
}

<!DOCTYPE html>



    <section class="content-header"></section>
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-8" style="margin-left:10px">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">User Create</h3>
                    </div>
                    <!-- /.box-header -->

                    @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.HiddenFor(m => m.Id)
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label col-md-3">User Name</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.User_Name, new { @Class = "form-control", @placeholder = "User Name" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Password</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.Password, new { @Class = "form-control", @type = "password", @placeholder = "Password" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Mobile No</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.Mobile_No, new { @Class = "form-control", @placeholder = "Mobile No" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Email</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.Email, new { @Class = "form-control", @placeholder = "Email" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Address</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.Address, new { @Class = "form-control", @placeholder = "Address" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Job Id</label>

                                <div class="col-md-6">
                                    @Html.DropDownList("Job_Id", (List<SelectListItem>)ViewData["JobList"], "Select Job", new { @class = "form-control editor-field", @placeholder = "Select" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3"></div>
                                <div class="col-md-5">
                                    <input type="submit" value="Edit" class="btn btn-info" />
                                </div>

                            </div>
                        </div>
                    }
                </div>

                <!-- /.box -->

            </div>
            <!--/.col (left) -->

        </div>
        <!-- /.row -->
    </section>

@section scripts{
    <script>
        $(document).ready(function () {
            $("form").submit(function (event) {
                if ($("#User_Name").val() == "") {
                    event.preventDefault();
                    swal("Failed", "User Name is required", "error").then(function () {
                        $("#User_Name").focus();
                    });
                }

                else if ($("#Password").val() == "") {
                    event.preventDefault();
                    swal("Failed", "Password is required", "error").then(function () {
                        $("#Password").focus();
                    });
                }
                else if ($("#Mobile_No").val() == "") {
                    event.preventDefault();
                    swal("Failed", "Mobile No is required", "error").then(function () {
                        $("#Mobile_No").focus();
                    });
                }

                else if ($("#Email").val() == "") {
                    event.preventDefault();
                    swal("Failed", "Email is required", "error").then(function () {
                        $("#Email").focus();
                    });
                }

                else if ($("#Address").val() == "") {
                    event.preventDefault();
                    swal("Failed", "Address is required", "error").then(function () {
                        $("#Address").focus();
                    });
                }

                else if ($("#Job_Id").val() == "") {
                    event.preventDefault();
                    swal("Failed", "Job Id is required", "error").then(function () {
                        $("#Job_Id").focus();
                    });
                }

                else {
                    event.preventDefault();
                    $.ajax({
                        url: "/User/Edit",
                        type: "Post",
                        data:
                       {
                           Id: $("#Id").val(),
                           User_Name: $("#User_Name").val(),
                           Password: $("#Password").val(),
                           Mobile_No: $("#Mobile_No").val(),
                           Email: $("#Email").val(),
                           Address: $("#Address").val(),
                           Job_Id: $("#Job_Id").val(),

                       },
                        success: function (data) {
                            if (data == "true")
                            {
                                swal("Success", "Successfully Updated", "success").then(function () {
                                    resetfunction();
                                    document.location = '/User/List';
                                })
                            }
                            else
                                swal("Failed", data, "error");
                        },
                        error: function (data) {
                            alert(data)
                        },

                    })
                }

            });
            function resetfunction() {

                $("#User_Name").val(""),
               $("#Password").val(""),
                $("#Mobile_No").val(""),
               $("#Email").val(""),
                $("#Address").val(""),
               $("#Job_Id").val("")

            }
        });
    </script>
}
