@model InventoryManagementV1.Models.Customer
@{
    Layout = "~/Views/Shared/layout.cshtml";
}

<!DOCTYPE html>
<section class="content-header"></section>
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-8">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Customer Create</h3>
                </div>
                <!-- /.box-header -->

                @using (Html.BeginForm("Create", "Customer", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="box-body">

                        <div class="form-group">
                            <label class="control-label col-md-3">Customer Name<span style="color:red;">*</span></label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.Customer_Name, new { @Class = "form-control", @placeholder = "Customer Name" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Mobile1<span style="color:red;">*</span></label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.Mobile1, new { @Class = "form-control", @placeholder = "Mobile1" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Mobile2</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.Mobile2, new { @Class = "form-control", @placeholder = "Mobile2" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Gender</label>
                            <div class="col-md-6">
                                @Html.DropDownList("Gender_Id", (List<SelectListItem>)ViewData["GenderList"], new { @class = "form-control editor-field", @placeholder = "Select" })
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Address<span style="color:red;">*</span></label>
                            <div class="col-md-6">
                                @Html.TextAreaFor(m => m.Address, new { @Class = "form-control", @placeholder = "Address" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Guarantor Name</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.Guarantor_Name, new { @Class = "form-control", @placeholder = "Guarantor Name" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Guarantor Mobile</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.Guarantor_Mobile, new { @Class = "form-control", @placeholder = "Guarantor Mobile" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Guarantor Address</label>
                            <div class="col-md-6">
                                @Html.TextAreaFor(m => m.Guarantor_Address, new { @Class = "form-control", @placeholder = "Guarantor" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-5">
                                <input type="submit" value="Save" class="btn btn-info" />
                                <input type="submit" value="Reset" id="reset" class="btn btn-info" />
                            </div>

                        </div>
                    </div>
                }


            </div>

            <!-- /.box -->

        </div>
        <!--/.col (left) -->
    </div>
    <!-- /.row -->
</section>
@section scripts{

    <script>
        $(document).ready(function () {
            $("form").submit(function (event) {
                if ($("#Customer_Name").val() == "") {
                    event.preventDefault();
                    swal("Failed", "Customer Name is required", "error").then(function () {
                        $("#Customer_Name").focus();
                    });
                }
                else if ($("#Mobile1").val() == "" || $('#Mobile1').val().length != 11) {
                    event.preventDefault();
                    swal("Failed", "Mobile1 is required", "error").then(function () {
                        $("#Mobile1").focus();
                    });
                }
            
                else if ($("#Address").val() == "") {
                    event.preventDefault();
                    swal("Failed", "Address is required", "error").then(function () {
                        $("#Address").focus();
                    });
                }
                else {
                    event.preventDefault();
                    $.ajax({
                        url: "/Customer/Create",
                        type: "POST",
                        data:
                       {
                           Customer_Name: $("#Customer_Name").val(),
                           Mobile1: $("#Mobile1").val(),
                           Mobile2: $("#Mobile2").val(),
                           Gender_Id: $("#Gender_Id").val(),
                           Address: $("#Address").val(),
                           Guarantor_Name: $("#Guarantor_Name").val(),
                           Guarantor_Mobile: $("#Guarantor_Mobile").val(),
                           Guarantor_Address: $("#Guarantor_Address").val()

                       },
                        success: function (data) {
                            if (data == "true")
                                swal("Success", "Successfully Saved", "success");
                            else
                                swal("Failed", data, "error");
                            resetfunction();
                        },
                        error: function (data) {
                            alert(data)
                        },

                    })
                }

            });
            function resetfunction() {
                $("#Customer_Name").val("");
                $("#Mobile1").val("");
                $("#Mobile2").val("");
                $("#Gender_Id").val("");
                $("#Address").val("");
                $("#Guarantor_Name").val("");
                $("#Guarantor_Mobile").val("");
                $("#Guarantor_Address").val("")
            }
            $("#reset").click(function () {
                resetFunction();
            });
        });
    </script>
}