@model List<InventoryManagementV1.Models.Customer>
@{
    Layout = "~/Views/Shared/layout.cshtml";
}

<!DOCTYPE html>
<div class="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Data Tables

        </h1>

    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">

                <!-- /.box -->

                <div class="box">
                    <div class="box-header">
                        <div class="col-md-11 box-header">
                            <h3 class="box-title">Customer List</h3>
                        </div>

                        <div class="col-md-1">
                            <a href="~/Customer/Create" class="btn btn-primary btn-sm">Add</a>
                        </div>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr class="info">
                                    <th>Customer Name</th>
                                    <th>Mobile1</th>
                                    <th>Mobile2</th>
                                    <th>Gender</th>
                                    <th>Address</th>
                                    <th>Guarantor_Name</th>
                                    <th>Guarantor_Mobile</th>
                                    <th>Guarantor_Address</th>
                                    <th>Option</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (InventoryManagementV1.Models.Customer customer in (IEnumerable<InventoryManagementV1.Models.Customer>)Model)
                                {
                                    <tr>
                                        <td>@customer.Customer_Name</td>
                                        <td>@customer.Mobile1</td>
                                        <td>@customer.Mobile2</td>
                                        <td>
                                            @if (@customer.Gender_Id != null)
                                            {
                                                @customer.Gender.Name
                                            }
                                        </td>
                                        <td>@customer.Address</td>
                                        <td>@customer.Guarantor_Name</td>
                                        <td>@customer.Guarantor_Mobile</td>
                                        <td>@customer.Guarantor_Address</td>
                                        <td><a href="~/Customer/Edit?id=@customer.Id">Edit</a></td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

</div>


@section scripts{
    <!-- DataTables -->
    <script src="~/layouts/adminTemplate/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/layouts/adminTemplate/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/layouts/adminTemplate/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>


    <!-- page script -->
    <script>

    $('#example1').DataTable()


    </script>

}




