@model List<InventoryManagementV1.Models.Supplier>
@{
    Layout = "~/Views/Shared/layout.cshtml";
}

<!DOCTYPE html>
<div class="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Data Tables

        </h1>

    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">

                <!-- /.box -->

                <div class="box">
                    <div class="box-header">
                        <div class="col-md-11 box-header">
                            <h3 class="box-title">Supplier List</h3>
                        </div>

                        <div class="col-md-1">
                            <a href="~/Supplier/Create" class="btn btn-primary btn-sm">Add</a>
                        </div>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr class="info">
                                    <th>Company Name</th>
                                    <th>Company Address</th>
                                    <th>Company Mobile</th>
                                    <th>Contact Name</th>
                                    <th>Contact Person Number</th>
                                    <th>Contact Person Address</th>
                                    <th>Email</th>
                                    <th>Website</th>
                                    <th>Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (InventoryManagementV1.Models.Supplier supplier in (IEnumerable<InventoryManagementV1.Models.Supplier>)Model)
                                {
                                    <tr>
                                        <td>@supplier.Company_Name</td>
                                        <td>@supplier.Company_Address</td>
                                        <td>@supplier.Company_Mobile</td>
                                        <td>@supplier.Contact_Name</td>
                                        <td>@supplier.Contact_Person_Number</td>
                                        <td>@supplier.Contact_Person_Address</td>
                                        <td>@supplier.Email</td>
                                        <td>@supplier.Website</td>
                                        <td>
                                            <a href="~/Supplier/Edit?id=@supplier.Id" class="btn btn-primary btn-sm">Edit</a>
                                            <a href="~/Supplier/Details?id=@supplier.Id" class="btn btn-primary btn-sm">Details</a>

                                        </td>

                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

</div>


@section scripts{
    <!-- DataTables -->
    <script src="~/layouts/adminTemplate/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/layouts/adminTemplate/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/layouts/adminTemplate/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>


    <!-- page script -->
    <script>

    $('#example1').DataTable()


    </script>

}




