@model List<InventoryManagementV1.Models.Product>
@{
    Layout = "~/Views/Shared/layout.cshtml";
}

<!DOCTYPE html>
<div class="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Data Tables
           
        </h1>
      
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                
                <!-- /.box -->

                <div class="box">
                    <div class="box-header">
                        <div class="col-md-11 box-header">
                            <h3 class="box-title">Product List</h3>
                        </div>
                            
                        <div class="col-md-1">
                            <a href="~/Product/Create" class="btn btn-primary btn-sm">Add</a>
                        </div>
                       
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr class="info">
                                    <th>Product No</th>
                                    <th>Product Name</th>
                                    <th>Product Details</th>
                                    <th>Gender</th>
                                    <th>Country</th>
                                    <th>Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (InventoryManagementV1.Models.Product product in (IEnumerable<InventoryManagementV1.Models.Product>)Model)
                                {
                                    <tr>
                                        <td>@product.Product_No</td>
                                        <td>@product.Product_Name</td>
                                        <td>@product.Product_Details</td>
                                        <td>
                                            @if (@product.Gender_Id != null)
                                            {
                                                @product.Gender.Name
                                            }
                                        </td>
                                        <td>
                                            @if (@product.Country_Id != null)
                                            {
                                                @product.Country.Name

                                            }
                                        </td>
                                        <td>
                                        <a href="~/Product/Edit?id=@product.Id" class="btn btn-primary btn-sm">Edit</a>
                                      <a href="~/Product/Details?id=@product.Id" class="btn btn-primary btn-sm">Details</a>
                                        <a href="~/Product/AddQuantity?id=@product.Id" class="btn btn-primary btn-sm">Add Quantity</a>

                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
 
    </div>
    

@section scripts{
    <!-- DataTables -->
<script src="~/layouts/adminTemplate/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/layouts/adminTemplate/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="~/layouts/adminTemplate/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>


<!-- page script -->
<script>

    $('#example1').DataTable()

  
</script>

    }




